---
import '../styles/global.css'; 

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'BilimWay International',
  description = 'Помощь иностранным абитуриентам в поступлении в университеты Беларуси.',
} = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Google Analytics -->
    <script
      async
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-7M9C33VCWQ"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7M9C33VCWQ');
    </script>

    <!-- Yandex.Metrica counter -->
    <script is:inline>
      (function(m,e,t,r,i,k,a){
          m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) { return; }
          }
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a);
      })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=108980496', 'ym');

      ym(108980496, 'init', {
        ssr: true,
        webvisor: true,
        clickmap: true,
        ecommerce: "dataLayer",
        referrer: document.referrer,
        url: location.href,
        accurateTrackBounce: true,
        trackLinks: true
      });
    </script>
  </head>
  <body>
    <slot />

    <noscript>
      <div>
        <img
          src="https://mc.yandex.ru/watch/108980496"
          style="position:absolute; left:-9999px;"
          alt=""
        />
      </div>
    </noscript>
  </body>
</html>